In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import random
import matplotlib.pyplot as plt
import numpy as np
# Import requests library.
import requests
# Import the datetime module from the datetime library.
from datetime import datetime
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy
# Import the API key.
from config import g_key
from config import weather_api_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
city_data_df.head()

   City_ID                City Country  Max Temp    Lat     Lng  Hotel Name
0        4              Omboue      GA     76.17  -1.57    9.26         NaN
1        6          Butaritari      KI     82.67   3.07  172.79         NaN
2        9           Mogadishu      SO     78.84   2.04   45.34         NaN
3       10  Puerto Del Rosario      ES     78.80  28.50  -13.86         NaN
4       15      Cabo San Lucas      MX     84.20  22.89 -109.91         NaN

In [3]:
hobbs_df= city_data_df.loc[city_data_df['City'] == "Hobbs"]

In [4]:
hobbs_df

    City_ID   City Country  Max Temp   Lat     Lng  Hotel Name
35      153  Hobbs      US      84.0  32.7 -103.14         NaN

In [5]:
mayo_df= city_data_df.loc[city_data_df['City'] == "Mayo"]
mayo_df

    City_ID  City Country  Max Temp    Lat    Lng  Hotel Name
41      182  Mayo      US     84.99  38.89 -76.51         NaN

In [6]:
wichita_df= city_data_df.loc[city_data_df['City'] == "Wichita Falls"]
wichita_df

    City_ID           City Country  Max Temp    Lat    Lng  Hotel Name
48      200  Wichita Falls      US      84.2  33.91 -98.49         NaN

In [7]:
westport_df= city_data_df.loc[city_data_df['City'] == "Westport"]
westport_df

    City_ID      City Country  Max Temp    Lat    Lng  Hotel Name
50      207  Westport      US     87.01  41.14 -73.36         NaN

In [8]:
hobbs_lat_lng =(hobbs_df['Lat'].values[0], hobbs_df['Lng'].values[0])
hobbs_lat_lng

(32.7, -103.14)

In [9]:
mayo_lat_lng =(mayo_df['Lat'].values[0], mayo_df['Lng'].values[0])
mayo_lat_lng

(38.89, -76.51)

In [10]:
wichita_lat_lng =(wichita_df['Lat'].values[0], wichita_df['Lng'].values[0])
wichita_lat_lng

(33.91, -98.49)

In [11]:
westport_lat_lng =(westport_df['Lat'].values[0], westport_df['Lng'].values[0])
westport_lat_lng

(41.14, -73.36)

In [12]:
import gmaps
import gmaps.datasets
gmaps.configure(api_key='AIzaSyCz-sObCc69Ksph7LwVne_lMuC9zX_olgQ')

# Latitude-longitude pairs
mayo = (38.89, -76.51)
westport = (41.14, -73.36)
wichita = (33.91, -98.49)
hobbs = (32.7, -103.14)

fig = gmaps.figure()
mayotohobbs = gmaps.directions_layer(mayo, hobbs)
fig.add_layer(mayotohobbs)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [14]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in city_data_df.iterrows()]

In [15]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))